<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jq.js'%}"></script>

    <title>Chess</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'chess.png' %}"
    />
  </head>

  <body>
    <button class="resetButton">
      <a href="{% url 'resetBoard' %}">Reset The Board</a>
    </button>

    <div class="container">
      <h1 class="turns" id="turns">White Starts</h1>
    </div>
    <div class="difContainer">
      <div class="top-status-bar status-bar">
        <div id="darkStatus" class="captured-pieces">
          <h2>Captured Pieces:</h2>
        </div>
      </div>
      <div class="container" id="boardContainer">
        <div class="chessboard" id="board"></div>
      </div>

      <div class="bottom-status-bar status-bar">
        <div id="lightStatus" class="captured-pieces">
          <h2>Captured Pieces:</h2>
        </div>
      </div>
    </div>

    {%csrf_token%}

    <h1 hidden id = 'aiCol'>{{aiCol}}</h1>

    <div class="popup" id="popup-1">
      <div class="overlay"></div>
      <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1 id="winner">Title</h1>
        <a
          ><button class="">
            <a href="{% url 'resetBoard' %}">New Game!</a>
          </button>
        </a>
      </div>
    </div>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
