<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/selector.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'chess.png' %}"
    />
  </head>
  <body>
    <div id="firstButton">
        <a href="{% url 'playLocal'%}"><button>offline</button> </a>
    </div>

    <div id="secondButton">
      <form action="/board" method="post">
        {%csrf_token%}
          <button class="mybtn">AI</button>
          <label for="dropdown">play as:</label>
          <select name = 'mySelect' class="my-select" id="dropdown">
            <option value="white">white</option>
            <option value="black">black</option>
          </select>
        </form>
    </div>
  </body>
</html>
