body{
    background-color: #333;
}

.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;

}

.square {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.light {
    background: rgb(165, 164, 164);
}

.dark {
    background: rgb(146, 112, 66);
}

.selected {
    background-color: red;
}

.uiNum{
    position: absolute;
    top: 4px;
    left: 4px;
}

.uiLet{
    position: absolute;
    bottom: 4px;
    right: 4px;
}


.highlightAvailable{
    background-color: rgb(137, 43, 226);
    opacity: 0.5;
}